@model List<CobainStats.Models.DailyStat>

<h2>Ежедневная активность</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Уникальных пользователей</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.DailyActiveUsers</td>
            </tr>
        }
    </tbody>
</table>
